body{
    font-family: 'Josefin Sans', sans-serif; 
    background-color: hsl(0, 0%, 98%); 
    background-image: url('../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 200px;
    box-sizing: border-box;
  
    justify-content: center;
}
.container{
    width: 360px;
    box-sizing: border-box;
    padding: 40px 15px;
   
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner h1{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 8px;
    color: white;
    font-size: 25px;
}
.banner img{
    height: 15px;
}

.newTodo{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 15px;
    border-radius:5px;
    margin: 35px 0px;
    justify-content: space-between;
}
.newTodo #todoInput{
    border:none;
    width: 100%;
    outline: none;
    margin-left: 10px;
}


.todoCheck input{
    display: none;
}
.todoCheck input + label:before{
    content:'';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    border: 1px solid grey;
    
}
.todoCheck input:checked + label:before{
    background-image: url('../images/icon-check.svg');
    color: rgb(135, 231, 255);
}

.checkCustom input{
    display: none;
}

.checkCustom input + label:before{
    content:'';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    border: 1px solid grey;
    
}
.checkCustom input:checked + label:before{
    background-image: url('../images/icon-check.svg');
    color: rgb(135, 231, 255);
}
.todoItem{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 15px;
    border-radius:5px;
    justify-content: space-between;
    margin:2px 0px;
    align-items: center;
}


.todoItem span{
    font-size: 13px;
    color: hsl(235, 19%, 35%);
    width: 80%;
    padding: 0px 15px;
}

.click{
    cursor: pointer;
    padding: 2px;
    background-color: white;
    border:none
}

.btnDelete{
    background-image: url('../images/icon-cross.svg');
    background-size: cover;    
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    padding: 10px ;
    background-color: white;
    cursor: pointer;
}