.bodyContent{
    font-family: 'Josefin Sans', sans-serif; 
    background-color: hsl(0, 0%, 98%); 
    background-image: url('../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 200px;
    box-sizing: border-box;
    transition: all 0.5s;
    justify-content: center;
}
.container{
    width: 360px;
    box-sizing: border-box;
    padding: 40px 15px;   
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner h1{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 8px;
    color: white;
    font-size: 25px;
}
.banner img{
    height: 15px;
}

.newTodo{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 15px;
    border-radius:5px;
    margin: 35px 0px;
    justify-content: space-between;
    transition: all 0.5s;
    
}
.newTodo #todoInput{
    font-family: 'Josefin Sans';
    border:none;
    width: 100%;
    outline: none;
    margin-left: 10px;
    transition: all 0.5s;
}


.todoCheck input{
    display: none;
}
.todoCheck input + label:before{
    content:'';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    border: 1px solid hsl(234, 39%, 85%);
    
}
.todoCheck input:checked + label:before{
    background-image: url('../images/icon-check.svg');
    color: rgb(135, 231, 255);
}

.checkCustom input{
    display: none;
}

.checkCustom input + label:before{
    content:'';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    border: 1px solid hsl(234, 39%, 85%);
    
}
.checkCustom input:checked + label:before{
    background-image: url('../images/icon-check.svg');
    color: rgb(135, 231, 255);
}
.todoItem{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 15px;
    border-radius:5px;
    justify-content: space-between;
    margin:2px 0px;
    align-items: center;
    transition: all 0.5s;
    
    
}


.todoItem span{
    font-size: 14px;
    font-weight: 400;
    color: hsl(235, 19%, 35%);
    width: 80%;
    padding: 0px 15px;
    transition: all 0.5s;
}



.btnDelete{
    background-image: url('../images/icon-cross.svg');
    background-size: cover;    
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    padding: 8px ;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.taskDone span{
    text-decoration:  line-through;
    color: hsl(237, 14%, 26%); 
    opacity: 40%; 
}

.filter{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 15px;
    border-radius:5px;
    justify-content: space-between;
    margin:2px 0px;
    align-items: center;
   
}

.filter input:checked + label{
    color: blue;
    transition: all 1s;
    scale: 1.15;
}

.filter input{
    display: none;
}


#All:checked ~ #todoList .taskActive{  
    display: none;
}








/*dark mode*/

.darkMode{
    background-color: black;
    background-image: url("../images/bg-desktop-dark.jpg");
}
.darkModeItem {
    background-color: hsl(237, 14%, 26%);
}

.darkModeItem span{
    background-color: hsl(237, 14%, 26%);
    color: hsl(234, 39%, 85%);
   
}

.darkModeItem li{
    background-color: hsl(237, 14%, 26%);
    color: hsl(234, 39%, 85%);
    margin: 2px 0px;
}
.darkModeItem button{
    background-color: hsl(237, 14%, 26%);
}


.darkModeItem input{
    background-color: hsl(237, 14%, 26%);
    color: hsl(234, 39%, 85%);
    font-family: 'Josefin Sans';
}
.darkModeFilter{
    background-color: hsl(237, 14%, 26%);
    color: hsl(234, 39%, 85%);
    font-family: 'Josefin Sans';
}

@media screen and (min-width: 1050px){
    .container{
        margin:70px 0px;
    }
}